In [1]:
import pandas as pd 
import numpy as np

In [16]:
dataset = pd.read_csv("twitter_data.csv")

In [18]:
dataset

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [22]:
dataset.isnull().sum()

Unnamed: 0            0
count                 0
hate_speech           0
offensive_language    0
neither               0
class                 0
tweet                 0
dtype: int64

In [24]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

In [26]:
dataset.describe()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class
count,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000
mean,12681.192027,3.243473,0.280515,2.413711,0.549247,1.110277
std,7299.553863,0.883060,0.631851,1.399459,1.113299,0.462089
min,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
25%,6372.500000,3.000000,0.000000,2.000000,0.000000,1.000000
50%,12703.000000,3.000000,0.000000,3.000000,0.000000,1.000000
75%,18995.500000,3.000000,0.000000,3.000000,0.000000,1.000000
max,25296.000000,9.000000,7.000000,9.000000,9.000000,2.000000

In [28]:
dataset["labels"] = dataset["class"].map({0:"Hate Speech",
                                          1:"Offensive Language",
                                          2:"No hate or offensive language"})

In [30]:
dataset

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet,labels
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...,No hate or offensive language
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,Offensive Language
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,Offensive Language
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,Offensive Language
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,Offensive Language
...,...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...,Offensive Language
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an...",No hate or offensive language
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...,Offensive Language
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies,Offensive Language
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...,No hate or offensive language

In [32]:
data = dataset[["tweet","labels"]]

In [34]:
data

,tweet,labels
0,!!! RT @mayasolovely: As a woman you shouldn't...,No hate or offensive language
1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,Offensive Language
2,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,Offensive Language
3,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,Offensive Language
4,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,Offensive Language
...,...,...
24778,you's a muthaf***in lie &#8220;@LifeAsKing: @2...,Offensive Language
24779,"you've gone and broke the wrong heart baby, an...",No hate or offensive language
24780,young buck wanna eat!!.. dat nigguh like I ain...,Offensive Language
24781,youu got wild bitches tellin you lies,Offensive Language
24782,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...,No hate or offensive language

In [53]:
import re
import nltk
nltk.download('stopwords')
import string

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Mahat\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [49]:
from nltk.corpus import stopwords
stopwords = set(stopwords.words("english"))

In [51]:
stemmer = nltk.SnowballStemmer("english")

In [71]:
def clean_data(text):
    text = str(text).lower()
    text = re.sub('https?://|S+|www|.S+', '',text)
    text = re.sub('|[.*?/]', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' %re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('|w*|d|w*', '', text)
    
    text = [word for word in text.split(' ') if word not in stopwords]
    text = " ".join(text)
    
    text = [stemmer.stem(word) for word in text.split(' ')]
    text = " ".join(text)
    return text

In [73]:
data["tweet"] = data["tweet"].apply(clean_data)

C:\Users\Mahat\AppData\Local\Temp\ipykernel_24316\1832165696.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["tweet"] = data["tweet"].apply(clean_data)

In [74]:
data

,tweet,labels
0,rt mayasolov oman shoulnt complain clean hous...,No hate or offensive language
1,rt mlee17 boy at coltyga n ba cuffin hoe 1st ...,Offensive Language
2,rt urkinofbran ag rt 80sbaby4lif ever fuck bi...,Offensive Language
3,rt cganerson vivabas look like tranni,Offensive Language
4,rt shenikarobert shit hear might true might f...,Offensive Language
...,...,...
24778,yous muthafin lie 8220lifeask 20pearl coreyema...,Offensive Language
24779,youv gone broke rong heart babi rove reneck crazi,No hate or offensive language
24780,young buck anna eat nigguh like aint fuckin,Offensive Language
24781,youu got il bitch tellin lie,Offensive Language
24782,ruffl ntac eileen ahlia beauti color combin ...,No hate or offensive language

In [77]:
X = np.array(data["tweet"])
y = np.array(data["labels"])

In [79]:
X

array([' rt mayasolov oman shoulnt complain clean hous amp man shoul alay take trash',
       ' rt mlee17 boy at coltyga n ba cuffin hoe 1st place',
       ' rt urkinofbran ag rt 80sbaby4lif ever fuck bitch start cri confus shit',
       ..., 'young buck anna eat nigguh like aint fuckin',
       'youu got il bitch tellin lie',
       'ruffl  ntac eileen ahlia  beauti color combin pink orang yello amp hite coll tcoh0yebvnzb'],
      dtype=object)

In [87]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [100]:
cv = CountVectorizer()
X = cv.fit_transform(X)

In [102]:
X

<24783x36037 sparse matrix of type '<class 'numpy.int64'>'
	with 219853 stored elements in Compressed Sparse Row format>

In [106]:
X_train, X_test, y_train, y_test = train_test_split(
...    X, y, test_size=0.33, random_state=42)